In [17]:
import pandas as pd
df = pd.read_csv('weather.csv')
df

        day  temperature  Windspeed      event
0  1/1/2017           32          6       Rain
1  1/2/2017           35          7      Sunny
2  1/3/2017           28          2       Snow
3  1/4/2017           32          7       Snow
4  1/5/2017           32          4       Rain
5  1/6/2017           34          2      Sunny

In [27]:
row,coloumn =df.shape
row

6

In [25]:
df.head()

        day  temperature  Windspeed      event
0  1/1/2017           32          6       Rain
1  1/2/2017           35          7      Sunny
2  1/3/2017           28          2       Snow
3  1/4/2017           32          7       Snow
4  1/5/2017           32          4       Rain

In [31]:
df[2:5]

        day  temperature  Windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           32          7  Snow
4  1/5/2017           32          4  Rain

In [ ]:
this includes the first one but exludes the sdecond one